@model ClientOnBoarding.Models.tblCustomerDetails

<script src="~/Scripts/SetupCustomer/SetupCustomer.js"></script>

<div class="panel panel-primary">
    <div class="panel-heading">Setup New Customer</div>
    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                @Html.HiddenFor(model => model.CustomerID, new { id="hndCustomerID", maxlength = 50, @class = "form-control" })

                <li class="active"><a data-link="/SetupCustomer/CustomerInformation" data-id="@Model.CustomerID" data-toggle="tab">Customer Information</a></li>
                <li><a data-link="/SetupCustomer/ToolInformation" data-id="@Model.CustomerID" data-toggle="tab">Tool Information</a></li>
                <li><a data-link="/SetupCustomer/AccessPolicy" data-id="@Model.CustomerID" data-toggle="tab">Access Policy</a></li>
                <li><a id="maintinancePolicy" data-link="/SetupCustomer/MPIndex" data-id="@Model.CustomerID" data-toggle="tab">Maintenance Policy </a></li>
                <li><a data-link="/SetupCustomer/PatchingPolicy" data-id="@Model.CustomerID" data-toggle="tab">Patching Policy</a></li>
             @*   <li><a id="antivirusPolicy" data-link="/SetupCustomer/AVPIndex" data-id="@Model.CustomerID" data-toggle="tab">Anit-Virus Policy</a></li>
                <li><a id="backupPolicy"  data-link="/SetupCustomer/BPIndex" data-id="@Model.CustomerID" data-toggle="tab">Back Up Policy</a></li>*@

            </ul>
            <div class="tab-content" id="customerDetail">                
                    @Html.Partial("CustomerInformation", Model);
            </div>
        </div>
    </div>
</div>

